/* *** *** ***
*
* Imports
*
*** *** *** */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import './variables';

/* *** *** ***
*
* Base HTML
*
*** *** *** */

body {
    background-color: $graphite;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
  }
  
  #root {
    overflow-x: hidden;
  }