@import './variables';

body {
    background-color: $graphite; // Używamy zmiennej z _variables.scss
    color: white;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  #root {
    overflow-x: hidden;
  }