/*
 * Imports
 */

@use "sass:math";
@import './variables';

/*
 * Animations
 */

 // Fade In -> Fade Out
@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Fade in with slide from left
@keyframes slidefadein {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

// Fade in with slide from right
@keyframes slidefadeinright {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

// Simple fade out
@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Pulse with scale +20%
@keyframes bounce {
    0% {
        transform: rotate(15deg) scale(1);
    }

    50% {
        transform: rotate(15deg) scale(1.2);
    }

    0% {
        transform: rotate(15deg) scale(1);
    }
}