/* *** *** ***
*
* Imports
*
*** *** *** */

@use "sass:math";
@import './variables';

/* *** *** ***
*
* Animations
*
*** *** *** */

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidefadein {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slidefadeinright {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: rotate(15deg) scale(1);
    }

    50% {
        transform: rotate(15deg) scale(1.2);
    }

    0% {
        transform: rotate(15deg) scale(1);
    }
}