@use "sass:math";
@import '../../sass/reset';
@import '../../sass/layout';
@import '../../sass/variables';
@import '../../sass/base';

.story {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    border-radius: 25px;
  }
  
@for $i from 0 to 10 {
  @if $i % 2 == 0 {
    .story-#{$i} {
      background-color: #CCC;
    }
  } @else {
    .story-#{$i} {
      background-color: #333;
    }
  }
}