@use "sass:math";
@import '../../sass/reset';
@import '../../sass/layout';
@import '../../sass/variables';
@import '../../sass/base';

.story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
  }
  
@for $i from 0 to 10 {
  @if $i % 2 == 0 {
    .story-#{$i} {
      background-color: #CCC;
    }
  } @else {
    .story-#{$i} {
      background-color: #333;
    }
  }
}