@use "sass:math";
@import './sass/variables';

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
    .app {
        width: math.div(100vh, 16) * 9;
        margin: 0 auto;
    }
}